.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 1rem;
}

.footer {
  padding: 1rem;
  margin-top: auto;
}

.dark{
  background-color: rgba(6, 3, 16, 0.951);
}

.light{
  background-color: rgba(189, 211, 215, 0.092);
}